// Clear after floats
@mixin clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

@mixin  inline-block-middle {
  display: inline-block;
  vertical-align: middle;
}

.clear {
  @include clearfix;
}

.ov-hidden {
  overflow: hidden;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}


.fl-l {
  float: left;
}

.fl-r {
  float: right;
}



.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}


.mt20 {
  margin-top: 20px;
}

.-loading {
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background:  rgba(0, 0, 0, 0.67) url('../img/big-loader.svg') no-repeat center center;
    z-index: 999;
    content: ' ';
  }
}