body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px; }

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif; }

.clear {
  zoom: 1; }
  .clear:before, .clear:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clear:after {
    clear: both; }

.ov-hidden {
  overflow: hidden; }

.ta-center {
  text-align: center; }

.ta-right {
  text-align: right; }

.ta-left {
  text-align: left; }

.fs10 {
  font-size: 10px; }

.fs11 {
  font-size: 11px; }

.fs12 {
  font-size: 12px; }

.fs13 {
  font-size: 13px; }

.fs14 {
  font-size: 14px; }

.fs15 {
  font-size: 15px; }

.fl-l {
  float: left; }

.fl-r {
  float: right; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb40 {
  margin-bottom: 30px; }

.mb50 {
  margin-bottom: 50px; }

.-loading:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.67) url("../img/big-loader.svg") no-repeat center center;
  z-index: 999;
  content: ' '; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px; }

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5; }

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 0; }

.header .connection-state {
  position: absolute;
  right: 20px;
  top: 27px; }

.connection-state {
  font-size: 25px;
  line-height: 1; }
  .connection-state.-established {
    color: forestgreen; }
  .connection-state.-lost {
    color: red; }
  .connection-state.-connecting {
    color: yellow; }

/* Custom page footer */
.footer {
  padding: 5px 0;
  color: #777;
  border-top: 1px solid #e5e5e5; }

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 900px; } }
.container-narrow > hr {
  margin: 30px 0; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 0; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
.main-content {
  padding: 0 0 50px 0; }

.ui-slider .ui-slider-handle {
  width: 2.4em !important;
  height: 1.4em !important;
  text-align: center; }

@media (min-width: 768px) {
  .form-inline .form-control {
    margin-bottom: 0; } }
.input-group.-transparent .input-group-addon {
  background: transparent;
  border: none;
  color: #949494; }
.input-group.-transparent .form-control {
  box-shadow: none;
  border: none;
  background: transparent; }

.modal-title-site {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  color: #353535; }

.modal-header {
  color: #353535;
  background: white; }

.btn.btn-xlg {
  border-radius: 4px;
  font-size: 26px;
  line-height: 1.471;
  padding: 20px 30px; }

.fotorama__wrap {
  margin: 0 auto; }

.alert {
  border-left: none; }

.phase {
  display: flex;
  flex-direction: row; }
  .phase__number {
    margin-right: 12px;
    background: #989898;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px; }
  .phase__name {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    color: #989898; }
  .phase.-active .phase__number {
    background: #2ecc71; }
  .phase.-active .phase__name {
    color: #3e3e3e; }
  .phase.-done .phase__number {
    background: #00cc2c; }
  .phase.-done .phase__name {
    color: #989898; }

.phase-list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px #eee solid;
  margin: 0 0 20px; }
  .phase-list .phase {
    float: left;
    border-left: 1px #eee solid;
    border-right: 1px #eee solid;
    padding: 0 20px; }

.phase-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .phase-one__text {
    font-size: 17px;
    line-height: 1.5; }
  .phase-one__preview {
    margin: 0 0 20px; }

.phase-two .phase-two__counter {
  font-size: 150px;
  line-height: 150px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px; }

.phase-three__step {
  text-align: center;
  font-size: 40px; }
.phase-three__title {
  font-size: 24px; }

.phase-four {
  text-align: center; }
  .phase-four__preview {
    margin: 0 auto 20px;
    width: 400px;
    height: 500px;
    position: relative; }

.phase-five {
  text-align: center; }

.modal-backdrop.in.loader {
  opacity: .8;
  color: white; }

.loader__icon {
  position: absolute;
  left: 50%;
  top: 200px;
  font-size: 50px;
  transform: translateX(-50%); }
.loader__text {
  position: absolute;
  left: 10%;
  top: 402px;
  font-size: 50px;
  line-height: 1.4;
  text-align: center;
  right: 10%; }

/*# sourceMappingURL=custom.css.map */
