/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px; }

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5; }

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 900px; } }
.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }

.marketing p + h4 {
  margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
.mb20 {
  margin-bottom: 20px; }

.ta-center {
  text-align: center; }

.sharecloth-embed-wrapper {
  width: 420px;
  height: 720px;
  border: 1px #eee solid;
  margin: 10px auto 100px;
  padding: 10px; }

.phase {
  display: flex;
  flex-direction: row; }
  .phase__number {
    margin-right: 12px;
    background: #989898;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px; }
  .phase__name {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: #989898; }
  .phase.-active .phase__number {
    background: deepskyblue; }
  .phase.-active .phase__name {
    color: #3e3e3e; }
  .phase.-done .phase__number {
    background: #6bd3ff; }
  .phase.-done .phase__name {
    color: #989898; }

.phase-list .phase {
  margin: 0 0 40px; }

.phase-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .phase-one__text {
    font-size: 17px;
    line-height: 1.5; }

.phase-two .phase-two__counter {
  font-size: 150px;
  line-height: 150px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px; }

.phase-three__step {
  text-align: center;
  font-size: 40px; }
.phase-three__title {
  font-size: 24px; }

.phase-four {
  text-align: center; }
  .phase-four__preview {
    margin: 0 0 20px; }

.phase-five {
  text-align: center; }

.connection-state {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: 1px #989898 solid; }
  .connection-state.-established {
    background: forestgreen; }
  .connection-state.-lost {
    background: red; }
  .connection-state.-connecting {
    background: yellow; }

/*# sourceMappingURL=style.css.map */
